* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  margin: 0;
  height: 100vh;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 300px;
  height: 30px;
  padding: 0 0 0 10px;
  border: 1.5px solid #4d5b9e;
  border-radius: 15px;
  font-family: "Inter";
}

.login-error {
  margin: 0;
  margin-top: 10px;
  font-family: "Karla";
  font-size: 20px;
  color: #e63946;
  letter-spacing: -0.05rem;
}

.login-button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.home-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}

nav {
  height: 60px;
  box-shadow: 0 0 5px #727272;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-icon {
  height: 30px;
}

.nav-icon-title {
  margin: 0;
  margin-left: 10px;
  font-family: "Karla";
  font-size: 25px;
}

.nav-username {
  margin: 0;
  margin-left: auto;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
}

.nav-edit-username-button {
  padding: 5px 7px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  margin: 0;
  margin-left: 10px;
  font-family: "Inter";
  text-align: center;
  cursor: pointer;
}

.players-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-box {
  overflow: scroll;
  width: 500px;
  height: 400px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 7px #bbbbbb;
}

.players-no-online {
  margin: 0;
  font-family: "Inter";
  font-size: 50px;
}

.player {
  margin: 10px;
  padding: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 7px #bbbbbb;
  border-radius: 10px;
}

.player-username {
  margin: 0;
  font-family: "Karla";
  font-size: 25px;
}

.player-status {
  margin: 0;
  margin-left: 10px;
  font-family: "Karla";
  font-size: 15px;
  color: #727272;
}

.player-buttons {
  margin-left: auto;
}

.player-invite-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  font-family: "Inter";
  font-size: 15px;
  cursor: pointer;
}

.player-accept-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  font-family: "Inter";
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(30, 218, 155);
}

.player-reject-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  font-family: "Inter";
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(224, 109, 109);
  margin-left: 10px;
}

.player-invite-disabled-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  font-family: "Inter";
  font-size: 15px;
  background-color: rgb(200, 200, 200);
}

.player-cancel-button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(72, 115, 156);
  font-family: "Inter";
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(224, 109, 109);
  margin-left: 10px;
}

.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-field {
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  box-sizing: content-box;
  position: relative;
}

/* .game-field-row {
  width: inherit;
  height: 60px;
} */

.game-field-cell {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

.game-ship-part {
  width: 60px;
  height: 60px;
}

/* .game-ship-container {
  width: fit-content;
  height: fit-content;
} */

.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preparation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preparation-button {
  margin: 40px;
  /* background-color: #6464ff; */
}

.game-process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-fields-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-field-shot {
  position: absolute;
  width: 60px;
  height: 60px;
}
